body {
	position: relative;

	&:after {
		content: "";
		display: block;
		align-items: center;
		width: 50px;
		height: 30px;
		background-color: rgb(50, 50, 50);
		color: #fff;
		font-size: 14px;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 999;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media-breakpoint-down(sm) {
			content: "mobile";
		}

		@include media-breakpoint-up(sm) {
			content: "sm";
		}

		@include media-breakpoint-up(md) {
			content: "md";
		}

		@include media-breakpoint-up(lg) {
			content: "lg";
		}

		@include media-breakpoint-up(xl) {
			content: "xl";
		}
		@include media-breakpoint-up(xxl) {
			content: "xxl";
		}
	}
}
