// colors

$accent: #67d0ff;
$gray: #f7f7f7;
$grayDark: #d6d6d6;

// color classes

.bg-gray-f7 {
	background-color: $gray;
}

.bg-accent {
	background-color: $accent;
}

.bg-gray-d6 {
	background-color: $grayDark;
}
